.dashboard-container {
  margin: 0rem 3rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 3rem 2rem;
  text-align: left;
  background-color: white;
  border-radius: 12px;
  gap: 4rem;
  margin-bottom: 5rem;
}

.info-container {
    display: flex;
    flex-direction: row;
    max-width: none;
    flex-wrap: wrap;
    width: 100%;
}

.action-container {
    background-color: #f1efef;
    border-radius: 12px;
    margin: 1rem 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 100%;
    padding: 3rem 1rem;
    button {
        margin-bottom: 0.5rem;
        width: 50%;
    }
}

.gray, .main-container{
    background-color: #f1efef;
    border-radius: 12px;
    padding: 2rem 3rem;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.table-container {
    width: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    .filters {
        margin-bottom: 0.5rem;
    }
}

.title-container h3 {
    font-weight: normal;
}

.title-container {
    margin-top: 2rem;
    margin-left: 2rem;
}

.user-container {
    /* display: grid;
    grid-template-rows: repeat(2, 50% [row]);
    grid-template-columns: repeat(3, 30% [column]);
    gap: 10px 10px;
    justify-items: stretch;
    justify-content: center;
    button {
        box-sizing: border-box;
    } */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px; /* Space between buttons */
    width: 100%;
    max-width: 900px; /* Optional: limit maximum width */
    margin: 0 auto; /* Optional: center the grid */
}

.user-container button{
  min-height: 60px; 
  width: 100%;
  height: 100%;
  padding: 12px 24px;
  box-sizing: border-box; /* Include padding in width calculation */
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.25s;
  width: 100%;
  box-sizing: border-box;
  background-color: #1a1a1a;
  color: white;
}

.user-container button:hover, .filters button{
  transform: scale(0.985);
}

.filters button {
  padding: 12px 24px;
  box-sizing: border-box; /* Include padding in width calculation */
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.25s;
  box-sizing: border-box;
  background-color: #1a1a1a;
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.user-info h3 {
  margin: 0;
}

.membership {
  display: flex;
  align-items: center;
}