.dashboard-container {
  margin: 0rem 3rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 3rem 2rem;
  text-align: left;
  background-color: white;
  border-radius: 12px;
  gap: 4rem;
  margin-bottom: 5rem;
}

.info-container {
    display: flex;
    flex-direction: row;
    max-width: none;
    flex-wrap: wrap;
    width: 100%;
}

.action-container {
    background-color: #f1efef;
    border-radius: 12px;
    margin: 1rem 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        margin-bottom: 0.5rem;
        width: 50%;
    }
}

.table-container {
    width: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;

    .filters {
        margin-bottom: 0.5rem;
    }
}

.title-container h3 {
    font-weight: normal;
}
