.profile-container {
  margin: 0rem 3rem;
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem 3rem 2rem;
  text-align: left;
  margin-bottom: 3rem;
  background-color: white;
  border-radius: 12px;
  gap: 4rem;
}
.info-container {
  text-align: left;
  max-width: 350px;
  width: 100%;
}

.points-container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  gap: 1rem;
  width: 100%;
  p {
    margin-bottom: -1rem;
  }
}
.qrcode {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  height: 128px;
}
.content-container {
  margin: 0rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 1rem 2rem 3rem 2rem;
  width: inherit;
}

.update-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 1.3rem;

  .input-container {
    gap: 1.5rem;
  }

  p {
    text-align: left;
    margin-bottom: -0.7rem;
  }
  a {
    color: #acacac;
    text-decoration: underline;
    cursor: pointer;
  }
}
