.profile-container {
  margin: 0rem 3rem;
  display: flex;
  justify-content: flex-start;
  padding: 1rem 2rem 3rem 2rem;
  text-align: left;
  margin-bottom: 3rem;
  background-color: white;
  border-radius: 12px;
  gap: 4rem;
  position: relative;
}

.info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 350px;
  width: 100%;
  white-space: normal;
}
.profile-info-container {
  max-width: 350px;
  width: 100%;
}
.points-container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 1rem;
  width: 100%;
}

.points-container p {
  margin-bottom: -1rem;
}

@media (max-width: 768px) {
  .profile-container,
  .content-container,
  .update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0rem;
  }
  .points-container {
    padding: 2rem;
  }
}
.title-qr-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.qr-code-diaglog-content {
  display: flex;
  flex-direction: column;
}

.content-container {
  margin: 0rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 1rem 2rem 3rem 2rem;
  width: inherit;
}

.update-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 1.3rem;
}
.update-container .input-container {
  gap: 1.5rem;
}

.update-container a {
  color: #acacac;
  text-decoration: underline;
  cursor: pointer;
}
.update-container p {
  text-align: left;
  margin-bottom: -0.7rem;
}

.qr-code-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: auto;
  box-sizing: border-box;
  justify-content: end;
  right: 2rem;
  top: 2rem;
}

.qrcode {
  height: 128px;
  right: -1rem;
  margin: 1rem;
  padding: 3rem;
}

.qr-desktop {
  display: flex;
}
.qr-mobile {
  display: none;
}

@media (max-width: 1065px) {
  .qr-desktop {
    display: none;
  }
  .qr-mobile {
    display: flex;
  }
}
