/* Common css styles for auth pages - login, register and start*/
.auth-container {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 3rem 2.5rem;
  background-color: white;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

form,
.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.form-field {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  align-self: start;
}

.input {
  width: 100%;
}

.btn-container {
  width: 100%;
}

.horizontal-break {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: rgb(167, 167, 167);
  height: 1px;
}

.link,
.link:hover {
  color: rgb(167, 167, 167);
  text-decoration: underline;
}
p {
  color: rgb(167, 167, 167);
}

@media (max-width: 768px) {
  .auth-container {
    padding: 2rem 1.5rem;
    max-width: 100%;
  }
}
