.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  background-color: white;
  border-bottom: 1px solid #f4f4f4;
  height: 3rem;
}
.logo {
  margin-left: 2rem;
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}

.nav-bar .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.nav-bar a.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Non auth header classes  */
.nav-bar .nav-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0rem;
  margin-right: 2rem;
}
.nav-bar .nav-button,
.nav-bar .nav-button:hover,
.nav-bar .nav-button.active {
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
  margin: 0 0.5em;
  min-width: 130px;
}
