:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  color-scheme: light dark;
  color: #1a1a1a;
  background-color: #f1efef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

header {
  margin-bottom: 3rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: #1a1a1a;
}

.fill-button,
.outline-button {
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.25s;
  width: 100%;
  box-sizing: border-box;
}
.fill-button {
  background-color: #1a1a1a;
  color: white;
}
.fill-button:hover,
.outline-button:hover {
  transform: scale(0.985);
}
